
extends layout
block link
    -var activePage = 'home';
block content
    //h1 index page
    //span This is Node.js API, with data in MongoDB
    .main-banner
        .main-banner__wrap-info
            span="id: " + banner._id
            p.main-baner__welcome-text=banner.subTitle
            h1.main-baner__title=banner.title
            p.main-baner__chain=banner.supTitle
        .main-banner__wrap-tel
            p.main-baner__tel-text=banner.telTitle
            p.main-baner__tel=banner.tel


    br
    br
    ///span=banner
    //p=banner[0].title
    //span=homeModel
    br
    br
    //ul
        -for(var i = 0; i<3; i++)
            li=banner[0][2]
        //each item, i in banner[0]
            li=item
        //- for(var i = 0; i < banner[0].length -1; i++)
            li=banner[0][i]
        //for item, i in banner[0]
            if(i != '_id')
                li=i


    br
    br
    br
    br

