//- var pages = [{'id': 1, 'name':'greka-synyl-ryky-v-reky-123'},{'id': 2, 'name':'ruby'},{'id': 3, 'name':'java'},];

-var activePage;


doctype html
block link
    -var activePage; //default
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/style.css')
        title= title
    body
        nav
            ul.nav
                if activePage === 'home'
                    li.active
                        a(href='/') Home
                else
                    li
                        a(href='/') Home


                each page in nav.pages
                    if activePage === page.name
                        li(class="active"): a(href="/#{page.name}")=page.name
                    else
                        li: a(href="/#{page.name}")=page.name

                if activePage === 'blog'
                    li.select-nav.active
                        a(href="/blog") blog
                        ul.posts-nav
                            each post in nav.posts
                                li: a(href="/blog/#{post.link}")=post.title
                else
                    li.select-nav
                        a(href="/blog") blog
                        ul.posts-nav
                            each post in nav.posts
                                li: a(href="/blog/#{post.link}")=post.title
                li
                    a(href="/sdf") 404
        .main-content
            block content